<!DOCTYPE html>
<html>
<head>
	<title>Web Mapping</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<style type="text/css">
	.vcenter{
		margin-top: 25vmin;
	}
	.foot{
		margin-top:2vmin;
	}
	</style>
</head>
<body>
	<div class="container vcenter">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Web_Mapping</h1>	
			</div>
		</div>
		<div class="row"><br><br></div>	
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 text-center">
				<div class="input-group input-group-lg">
			      <input type="text" class="form-control" placeholder="Search for...">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button">Go!</button>
			      </span>
			    </div><!-- /input-group -->
			</div>
			<div class="col-md-2"></div>
		</div>	
		</div>
	</div>
	
	<div class="navbar navbar-default navbar-fixed-bottom">
		<div class="text-center foot">
			Webmaster: <a href="http://facebook.com/animesh.kuzur.7">Animesh A. Kujur</a>
		</div>
	</div>

</body>
</html>